<input class="subscribe-email__input subscribe-email__input--email" type="email" name="{{emailName}}" required>
<input class="subscribe-email__button"  type="submit" value="{{submitText}}" name="submit">
<p class="subscribe-email__response"></p>