<form action="{{formAction}}" method="post">
  <input type="email" name="{{emailName}}">
  <input type="submit" value="{{submitText}}" name="{{submitName}}">
  <p id="subscribe-email-message"></p>
</form>