<label class="subscribe-email__label" for="{{emailName}}">Email Address</label>
<input class="subscribe-email__input subscribe-email__input--email" type="email" name="{{emailName}}" required>
<button class="subscribe-email__button" type="submit">{{submitText}}</button>
<p class="subscribe-email__response"></p>